<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Entregas</title>
    <!-- Link do Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h1 class="text-center mb-4">Lista de Entregas</h1>
    <!-- Tabela estilizada com Bootstrap -->
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Setor</th>
            <th>Empresa</th>
            <th>Destinatário</th>
            <th>Código da entrega</th>
            <th>Data Possível</th>
            <th>Status</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="delivery : ${deliveries}">
            <td th:text="${delivery.id}"></td>
            <td th:text="${delivery.sector}"></td>
            <td th:text="${delivery.enterprise}"></td>
            <td th:text="${delivery.recipientName}"></td>
            <td th:text="${delivery.deliveryCode}"></td>
            <td th:text="${delivery.previewData}"></td>
            <td th:text="${delivery.status}"></td>
            <td>
                <form th:action="@{'/update/' + ${delivery.id}}" method="post" class="d-flex align-items-center">
                    <select name="status" class="form-select me-2">
                        <option value="PENDENTE" th:selected="${delivery.status == T(com.lucas.delivery.enums.StatusEnum).PENDENTE}">Pendente</option>
                        <option value="ENTREGUE" th:selected="${delivery.status == T(com.lucas.delivery.enums.StatusEnum).ENTREGUE}">Entregue</option>
                    </select>
                    <button type="submit" class="btn btn-success">Salvar</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!-- Script do Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
